div.content
	div.col-md-10
		div.row(style="margin-bottom:10px")
			p(style="font-size:2em") My First Blog Post
		div.row(style="margin-bottom:10px")
			p(style="font-size:1.3em") Making a personal website is something I have been meaning to get round to for a long time. Over the past week I decided to stop procrastinating on it.
			a(href="#!/blog/firstpost") read more