div.content
	div.col-md-10
		div.row(style="margin-bottom:10px")
			p(style="font-size:2em") My First Blog Post

		div.row(style="margin-bottom:10px")
			p Making a personal website is something I have been meaning to get round to for a long time. Over the past week I decided to stop procrastinating on it.

			p The result is the shiny new website you are looking at in your browser right now. As is obvious by now, it has a blog on it, which I intend to use to write down some of my thoughts about things every now and then (so check back frequently!). There is also a projects page to show off some of the cool research/projects I have been working on.

			p That being said I am not really sure what to write for this particular post, so here is a list of things I learned while making this website!

			ul
				li Making time to work on important things is hard. To make time to work on this website I have actually been getting up at 6 am on weekdays. That way I can spend a few uninterrupted hours working before my PhD student day job starts.

				li Making a website like this is the easy part, making the actual content is the hard part!

				li Now that the site is online, I feel more motivated to start and finish projects so I can put them on the site and actually show the results to people.

				li Having a website dedicated solely to yourself feels pretty sweet.

			p On the whole, definitely a worthwhile investment of time. 

			p For the tech-savy readers, I coded the website using the MEAN stack.

			img(src="/img/meanstack.png" style="width:600px;heigh:600px;")

			p I even uploaded a MEAN stack template to github in case anyone is interested in doing something similar.

			a(href="https://github.com/gmaher/mean_app_template") MEAN app template

			p In any case this seems like a good length for a first blog post so I will leave it at that for now.

			p Cheers!

			p Gabriel