//quick breakdown all parts of alphago

//Reinforcement learning explanation

//Policy function

//Value functions

//Explanation that policy or value can be used but AlphaGo combines them using MCTS

div.content
	div.col-md-10
		div.row(style="margin-bottom:10px")
			p(style="font-size:2em") Understanding AlphaGo Part 1: Policy and Value Functions

		div.row(style="margin-bottom:10px")
			p(style="font-size:1.3em") Go is a classic board game in which players attempt to capture territory by taking turns placing stones. Because of the many different moves players can play at each turn Go has been considered one of the hardest games to master for AI. As such, when AlphaGo beat Go world champion Lee Sedol 4-1 it was clear that a new precedent had been set for AI.

			p(style="font-size:1.3em") In January 2016 Google's Deep Mind published a paper about how they built AlphaGo. As it turns out AlphaGo is really a creative combination of several different machine learning algorithms. In this post and my next post we will cover exactly how AlphaGo works!

			p(style="font-size:1.8em") Quick Breakdown of AlphaGo 

			p(style="font-size:1.3em")

			ul
				li(style="font-size:1.3em")

				li(style="font-size:1.3em") 

				li(style="font-size:1.3em")

				li(style="font-size:1.3em")

			p(style="font-size:1.8em") Policy Functions

			p(style="font-size:1.3em")

			p(style="font-size:1.3em")

			p(style="font-size:1.8em") Value Functions

			p(style="font-size:1.3em")

			p(style="font-size:1.3em")