div.content
	div.col-md-10
		div.row(style="margin-bottom:10px")
			p(style="font-size:2em") Understanding AlphaGo Part 1: Policy Functions
		div.row(style="margin-bottom:10px")
			p(style="font-size:1.3em") AlphaGo is a computer Go playing program that Google developed using neural networks and artificial intelligence techniques. In a match against Go world champion Lee Sedol, AlphaGo won 4-1. In this post we will cover the different parts of AlphaGo and how to build such an impressive AI.
			a(href="#!/blog/alphago1") read more

		div.row(style="margin-bottom:10px")
			p(style="font-size:2em") Monitoring Machine Learning Applications with Tensorboard
		div.row(style="margin-bottom:10px")
			p(style="font-size:1.3em") The Tensorboard application that comes bundled with Tensorflow is really useful for monitoring machine learning code. Read this post to learn how to set up Tensorboard and start using it to analyze your code!
			a(href="#!/blog/tensorboard") read more

		div.row(style="margin-bottom:10px")
			p(style="font-size:2em") Getting Started with Tensorflow
		div.row(style="margin-bottom:10px")
			p(style="font-size:1.3em") In this post I discuss my experience getting started with Tensorflow, explain how to use it and go through a simple example.
			a(href="#!/blog/tensorflow") read more

		div.row(style="margin-bottom:10px")
			p(style="font-size:2em") My First Blog Post
		div.row(style="margin-bottom:10px")
			p(style="font-size:1.3em") Making a personal website is something I have been meaning to get round to for a long time. Over the past week I decided to stop procrastinating on it.
			a(href="#!/blog/firstpost") read more