div.content
	div.col-md-10
		div.row(style="margin-bottom:10px")
			p(style="font-size:2em") 

		div.row(style="margin-bottom:10px")
			p(style="font-size:1.3em") 

			p(style="font-size:1.3em") 

			p(style="font-size:1.3em") 

			ul
				li(style="font-size:1.3em")

				li(style="font-size:1.3em") 

				li(style="font-size:1.3em")

				li(style="font-size:1.3em")

			p(style="font-size:1.3em") 

			p(style="font-size:1.3em")

			img(src="/img/meanstack.png" style="width:600px;heigh:600px;")

			p(style="font-size:1.3em")

			a(href="https://github.com/gmaher/mean_app_template")

			p(style="font-size:1.3em")

			p(style="font-size:1.3em")

			p(style="font-size:1.3em")