div.content(style="padding:15px")
	div.col-md-3
		h4(style="color:white") Email
		p(style="color:white") gabriel.d.maher [at] gmail.com

	div.col-md-2
		a(href="https://www.linkedin.com/in/gabrielmaher")
			img(src="img/linkedin.png" style="width:60px;height:60px")

