html
	head
		title!= title
		link(rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css")
		meta(name="viewport" content="width=device-width, initial-scale=1")

	body

		div.pure-g
			div.pure-u-1-3
				a(href="/" class="pure-menu-heading pure-menu-link") Home
			div.pure-u-1-3
				div.pure-menu.pure-menu-horizontal
					a(href="#" class="pure-menu-heading pure-menu-link") Projects
					a(href="#!/research" class="pure-menu-heading pure-menu-link") Research
					a(href="#!/resume" class="pure-menu-heading pure-menu-link") Resume
					a(href="#!/blog" class="pure-menu-heading pure-menu-link") Blog
			div.pure-u-1-3

		div.pure-g
			div.pure-u-1
				section(ng-view)

		div.pure-g
			div.pure-u-1
				include footer.jade

		include scripts.jade