html
	head
		title!= title
		//link(rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css")
		//link(rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css")
		//link(rel="stylesheet",href="/css/side-menu.css")

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		meta(name="viewport" content="width=device-width, initial-scale=1")

	body

		div.row(style="text-align:center;margin-top:10px; margin-bottom:30px; ")
			p(style="font:50px arial; height:20px; ") Gabriel Maher

		nav.row.navbar.navbar-inverse(style="")
			div.container(style="text-align:center;")
				ul.nav.navbar-nav
					li 
						a(href="#!/" class="pure-menu-heading pure-menu-link") Home
					li
						a(href="#!/projects" class="pure-menu-heading pure-menu-link") Projects
					li
						a(href="#!/research" class="pure-menu-heading pure-menu-link") Research
					li
						a(href="#!/resume" class="pure-menu-heading pure-menu-link") Resume
					li
						a(href="#!/blog" class="pure-menu-heading pure-menu-link") Blog

		div.row(style="text-align:center")
			div.col-md-1(style="")
				section(ng-view)

		div.row(style="background-color: #f0f1f5; text-align:center")
			div.col-md-1
				div.content
					include footer.jade

		include scripts.jade