html
	head
		title!= title
		//link(rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css")
		//link(rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css")
		//link(rel="stylesheet",href="/css/side-menu.css")

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		meta(name="viewport" content="width=device-width, initial-scale=1")

	body

		div.row.text-center(style="margin-top:10px; margin-bottom:30px; ")
			p(style="font:50px arial; height:20px; ") Gabriel Maher

		div.row
			div.col-md-3
			div.col-md-6
				div.row(style="")
						nav.navbar.navbar-inverse.col-md-6(style="float:none; margin: 0 auto; display:table; position:relative;")
							a.navbar-brand(href="#!/") Home
							ul.nav.navbar-nav
								li.nav-item
									a.nav-link(href="#!/projects") Projects
								li.nav-item
									a.nav-link(href="#!/research") Research
								li.nav-item
									a.nav-link(href="#!/resume") Resume
								li.nav-item
									a.nav-link(href="#!/blog") Blog

				div.row
					div.container(style="")
						section(ng-view)

			div.col-md-3


		div.row(style="background-color: #f0f1f5;")
				div.content
					include footer.jade

		include scripts.jade