html
	head
		title!= title
		link(rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css")
		meta(name="viewport" content="width=device-width, initial-scale=1")

	body

		div.pure-g(style="")
			div.pure-u-1-5(style="background-color: #000000; height:800px;")
				a(href="/" class="pure-menu-heading pure-menu-link") Home
				div.pure-menu
					a(href="#" class="pure-menu-heading pure-menu-link") Projects
					a(href="#!/research" class="pure-menu-heading pure-menu-link") Research
					a(href="#!/resume" class="pure-menu-heading pure-menu-link") Resume
					a(href="#!/blog" class="pure-menu-heading pure-menu-link") Blog

			div.pure-u-4-5(style="text-align: center;")
				section(ng-view)

		div.pure-g(style="background-color: #f0f1f5;")
			div.pure-u-1
				include footer.jade

		include scripts.jade