//-external scripts
script(src='/lib/angular/angular.js')
script(src='/lib/angular-route/angular-route.js')

//-client scripts
script(src='/app.js')
script(src='/main/main.client.module.js')
script(src='/main/main.client.controller.js')
script(src='/main/main.client.routes.js')