//-external scripts
script(src='/lib/angular/angular.js')
script(src='/lib/angular-route/angular-route.js')
//script(src="/lib/MathJax/MathJax.js")
//-client scripts
script(src='/app.js')
script(src='/main/main.client.module.js')
script(src='/main/main.client.controller.js')
script(src='/main/main.client.routes.js')

script(src='/research/research.client.controller.js')
script(src='/resume/resume.client.controller.js')
script(src='/blog/blog.client.controller.js')

script(src='/projects/projects.client.controller.js')