div.content(style="font: arial;")
	div.row(style="margin-bottom:10px")
		div.col-md-7
			p(style="font-size:2em;") Deep Learning for Cardiovascular Segmentation
		div.col-md-1
			a(href="https://www.dropbox.com/s/qsb44o74yqr1e53/311_report.pdf?dl=0")
				img(src="img/pdf-icon.png" style="width:50px;height:50px")
	div.row
			div.col-md-3(style="font-size:1.2em")
				img(src="img/outputs.png" style="width:350px;height:350px;")

				p <b>Top:</b> Network input image data
				p <b>Middle:</b> Images with blood vessel pixels labeled
				p <b>Bottom:</b> Neural Network predictions

			div.col-md-1
			div.col-md-8(style="font-size:1.3em")
				p Volumetric scans, such as MRI or CT scans, are a great way to see what is going on inside our bodies. However, sometimes we may only be interested in investigating certain parts of the body, for example the blood vessels. For this project I investigated whether convolutional neural networks could be used to segment blood vessels out of volumetric scan data.

				p The training data consisted of 45,000 images with a size of 32x32 pixels. An additional validation and test data set of 45,000 and 5,000 images were also used.

				p The results were promising. given a patch of pixels of volumetric scan data, the networks were able to predict whether a pixel was a blood vessel or not with 89% accuracy.