div(id="main")

div.col-md-3.text-center
	img(src="img/pers.jpg", style="width:250px;height:230px;")

div.col-md-9
	h2 Hi!

	p Welcome to my website. I'm Gabriel, currently a PhD student at the institute for computational and mathematical engineering at Stanford University.