d.pure-u-1-4(style="background-color: #555c70; text-align: center;")
	p filler

div.pure-u-9-24(style="background-color: #00bdbd; text-align: center;")
	p filler

div.pure-u-9-24(style="background-color: #00bdbd; text-align: center;")
	p second column